
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family: "Segoe UI", sans-serif;
    background: white;
    color: #FFF;
  }
  
  body {
    overflow-y: hidden;
  }
  
  #titlebar {
    display: block;
    position: fixed;
    height: 21px;
    width: calc(100% - 2px);
    background: #ff7d25;
  }
  
  #titlebar {
    padding: 3px;
  }
  
  #titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }
  
  #titlebar {
    color: #FFF;
    z-index: 99999;
  }
  
  #titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
  }
  
  #window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow-x: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 10px;
  }
  
  #window-title span {
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  
  #window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 8px;
  }
  
  #window-controls {
    -webkit-app-region: no-drag;
  }
  
  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  #window-controls .button {
    user-select: none;
    cursor: default;
    color: rgb(255, 255, 255);
  }
  
  #window-controls .button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
  }
  
  #window-controls #min-button {
    grid-column: 1;
  }
  
  #window-controls #max-button,
  #window-controls #restore-button {
    grid-column: 2;
  }
  
  #window-controls #restore-button {
    display: none;
  }
  
  #window-controls #close-button {
    grid-column: 3;
  }
  
  #window-controls #close-button:hover {
    background: #E81123;
  }
  
  #main {
    height: calc(100% - 21px);
    margin-top: 21px;
    padding: 21px;
    overflow-y: auto;
    background-color: white;
  }
  
  h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
  }
  
  p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
  }
  
  iframe {
    position: fixed;
    top: calc(21px);
    left: 0;
    bottom: 0;
    right: 0;
    width: calc(100%);
    height: calc(100% - 21px);
    border: none;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    overflow-Y:hidden;
  }
  .d-hide {
    display: none;
  }
  html {
    overflow-x: hidden !important;
  }